{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "transform-class-properties",
    ["transform-es2015-classes", { "loose":true }],
    "transform-object-assign",
    ["transform-react-jsx", { "pragma":"h" }]
  ]
}
